body{
  background: hsl(213, 100%, 50%);
  overflow: hidden;
}

h1{
  text-align: center;
  font-size: 48px;
  color: hsl(357, 99%, 35%);
  font-family: 'VT323', monospace;
}

h3{
  font-family: 'VT323', monospace;
  font-size: 32px;
  color: hsl(357, 99%, 35%);
  position: relative;
  left: 45px;
  bottom: 10px;
  text-align: center;
}

.h3pageExp{
  font-family: 'VT323', monospace;
  font-size: 32px;
  color: hsl(357, 99%, 35%);
  position: relative;
  left: 20px;
  bottom: 10px;
  text-align: center;
}

.h4description{
  font-family: 'VT323', monospace;
  position: relative;
  font-size: 24px;
  top: 40px;
  width: 50%;
  height: 150px;
}

.con-img{
  width: 250px;
  height: 200px;
  display: inline-block;
  position: relative;
  left: 500px;
  bottom: 60px;
  border-color: hsl(357, 99%, 35%);

.iconPageExp{
  font-size: 150px;
  position: relative;
  top: 30px;
  left: 700px;
}
}
table{
  border-collapse: collapse;
  width: 100%;
  border-color: black;

}

a,a:visited,a:link{
  font-family: 'VT323', monospace;
  color: #990000;
}
a:hover{
  color: hsl(357, 79%, 25%);
  animation-name: zoom;
  animation-fill-mode: forwards;
}
nav{
  position: relative;
  top: 25px;
  margin: auto;
  background-color: hsl(213, 90%, 40%);
  width: 50%;
  border: 5px outset black;
  border-radius: 30px;
}


ion-icon{
  font-size: 150px;
  position: relative;
  top: 30px;
  left: 900px;
}

p{
  font-family: 'VT323', monospace;
  position: relative;
  font-size: 24px;
  top: 70px;
  width: 50%;
  height: 150px;
}

header{
  background-color: hsl(213, 90%, 40%);
  position: relative;
  top: 40px;
}

form{
  font-family: 'VT323', monospace;
  position: relative;
  top: 20px;
}

.form{
  font-size: 32px;
  position: relative;
  top: 9px;
  height: 0;
}


@keyframes zoom{
  100%{
    color: hsl(213, 80%, 30%);
  }
}
